<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">

            <!-- name and email on right -->
            <div class="footer-col-wrapper">
                <div class="image123">
                    <div class="imgContainer">
                        <p><a href="https://scholar.google.co.uk/citations?user=q3fB9gYAAAAJ&hl=en">
                            <img src="/assets/google_scholar.svg" style="width: 40px; border: 0px solid #111111">
                        </a></p>
                    </div>
                    <div class="imgContainer">
                        <p><a href="https://www.linkedin.com/in/rajitachandak">
                            <img src="/assets/linkedin.svg" style="width: 40px; border: 0px solid #111111">
                        </a></p>
                    </div>
                    <div class="imgContainer">
                        <p><a href="https://github.com/rajitachandak">
                            <img src="/assets/github.svg" style="width: 40px; border: 0px solid #111111">
                        </a></p>
                    </div>
                </div>

                <div align="right">
                    {{ site.author }} <br>
                    <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </div>

        </div>
    </div>
</footer>
