---
# main.scss
---

@import "minima";

$bg-col: #F9F9FC;
$bg-col2: #F3E0F6;
$text-col: #090909;
$col-red: #7B032F;
$col-purple: #6625A4;
$col-blue: #075C98;
$col-green: #088A08;
$col-pink: #8A0868;

body{
    background-color: $bg-col;
    color: $text-col;
}

figure{
    display: inline-block;
    vertical-align: top;
}

.site-header{
    border-top: none;
    border-bottom: none;
    min-height: 55px;
    #    background: $bg-col2;
}

.site-footer{
    border-top: none;
    padding: 8px;
    background: $bg-col2;
}

.frame{
    float: right;
    #  padding-top: 5px;
    padding-left: 10px;
    #  padding-right: 20px;
}

a{
    &:link{
        color: $col-blue;
    }
    &:visited{
        color: $col-blue;
    }
}

h1{
    color: $col-red;
}

h2{
    color: $col-purple;
    margin-bottom:8px;
    margin-top:50px;
    font-size:25px;
}

h3{
    color: $col-pink;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 20px;
}

h4{
  color: $col-green;
  margin-bottom: 5px;
  margin-top: 15px;
}

.page-link{
    &:link{
        color: $col-red;
    }
   &:visited{
        color: $col-red;
    }
}

.imgContainer{
    float:left;
}